.BingoGame {
  grid-template-columns: repeat(5, minmax(50px, 100px));
  grid-auto-rows: minmax(75px, 1fr);
  gap: 1px;
  min-height: 45rem;
}

@screen sm {
  .BingoGame {
    grid-template-columns: repeat(5, minmax(100px, 200px));
    grid-auto-rows: minmax(75px, 165px);
  }
}

.BingoGame .card.won {
  animation: glow 2s linear infinite;
}

.redo-logo {
  min-width: 2rem;
}
