@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "friends";
    src: url("./assets/fonts/GABRWFFR.TTF");
  }
  :root {
    --color-baige: #f4f1de;
    --color-baige-rgb: 244, 241, 222;
    --color-tile-red: #e07a5f;
    --color-tile-red-rgb: 224, 122, 95;
    --color-dark-blue: #4c4f6b;
    --color-dark-blue-rgb: 76, 79, 107;
    --color-green: #81b29a;
    --color-green-rgb: 129, 178, 154;
    --color-wheat-yellow: #f2cc8f;
    --color-wheat-yellow-rgb: 242, 204, 143;
  }
  html {
    height: 100%;
  }
  body {
    @apply bg-baige;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
}

@layer components {
  .badge {
    @apply block text-center px-1 py-1 text-xs font-bold leading-none text-baige bg-green rounded-full;
  }
  @media (max-width: 640px) {
    .badge {
      @apply text-tiny break-normal;
    }
  }
}

@responsive {
  .text-shadow-sm {
    text-shadow: var(--color-wheat-yellow) 1px 0 10px;
  }
}
